{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
<link href="{% static 'css/partials/_transactions.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="dashboard">

  <div class="dashboard-grid">
    <div class="dashboard-col-main">
      {% include "expenses/partials/_summary.html" %}
      {% include "expenses/partials/_transactions.html" %}
    </div>
    <div class="dashboard-col-side">
      {% include "expenses/partials/_breakdown.html" %}
    </div>
  </div>
  {% include "expenses/partials/_add_transaction.html" %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/partials/_add_transactions.js' %}"></script>
{% endblock %}